@import url(sanitize.css);

@media only screen and (max-width : 767px){
    /* ディスプレイサイズが767pxまでの時は以下が適応される */

    .pc-news-text {
        /* 非表示設定 */
        display: none;
    }

    a {
        /* リンクの下線消し */
        text-decoration: none;
    }


    .news {
        margin: 20px;
        border-bottom: 1px solid #999;
    }

    .news-title {
        display: flex;
    }

    .news-title-text {
        flex-direction: column;
        margin-left: 10px;
    }

    .news-title img{
        width: 40vw;
        height: auto;
    }

    .news-title-tag span {
        /* 今は色固定だけどタグによって色変えてもいいかも */
        background-color: #888;
        padding: 0 5px;
        border: 0px;
        border-radius: 5px;
        color: #fafafa;
    }

    .news-title-date {
        margin-top: -10px;
    }

    .news-title-date span {
        font-size: 15px;
        color: #999;
    }

    .news-title-text h1 {
        margin-top: -20px;
        font-size: 27px;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000;
    }

    .sp-news-text {
        color: #888;
        width: 90vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width : 768px) {
    .sp-news-text {
        /* 非表示設定 */
        display: none;
    }

    a {
        /* リンクの下線消し */
        text-decoration: none;
    }

    .news {
        margin: 20px 250px;
        border-bottom: 1px solid #999;
    }

    .news-title {
        display: flex;
    }

    .news-title-text {
        flex-direction: column;
        margin-left: 20px;
    }

    .news-title img{
        width: 15vw;
        height: auto;
    }

    .news-title-tag span {
        /* 今は色固定だけどタグによって色変えてもいいかも */
        background-color: #888;
        padding: 0 5px;
        border: 0px;
        border-radius: 5px;
        color: #fafafa;
    }

    .news-title-date {
        margin-top: -10px;
    }

    .news-title-date span {
        font-size: 15px;
        color: #999;
    }

    .news-title-text h1 {
        margin-top: -20px;
        font-size: 27px;
        width: 42vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #000;
    }

    .pc-news-text {
        color: #888;
        width: 40vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}